# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
.vscode

# Generated version file
gitversion.h

# Generated SWIG fragment (win_syscall_generator)
swig/windows_syscalls_generated.i

# Debian package build
debian/*.debhelper.log
debian/*.substvars
debian/libintrovirt1-dbg
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/introvirt-tools/
debian/libintrovirt-dev/
debian/libintrovirt-doc/
debian/libintrovirt1/
debian/tmp/
obj-x86_64-linux-gnu

