name: CI Tests

on:
  pull_request:
    paths-ignore: ['**.md']
    branches:
      - main
  push:
    paths-ignore: ['**.md']
    branches:
      - main

jobs:
  # Validate code formatting
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format
        shell: bash
      - name: Validate Source Formatting
        run: |
          mapfile -t source < <(find . -iname "*.cc")
          mapfile -t headers < <(find . -iname "*.hh")
          code=("${source[@]}" "${headers[@]}")
          if ! clang-format -style=file "${code[@]}" -i -Werror --dry-run; then
              echo "You must run make format before submitting a pull request"
              echo ""
              git diff
              exit 1
          fi
          echo "Your source is formatted real good!"
        shell: bash

  build:
    runs-on: ${{ matrix.os }}

    # Test builds for several Ubuntus with both release and debug
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        build_type: [Release, Debug]

    steps:
      - uses: actions/checkout@v4

      # Install build deps
      - name: Install Dependencies
        run: |
          # Deps
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build libcurl4-openssl-dev \
            libboost-dev libboost-program-options-dev libboost-stacktrace-dev \
            liblog4cxx-dev python3-jinja2 python3 \
            doxygen clang-format git wget unzip

          # libmspdb
          mkdir libmspdb_pkg && cd libmspdb_pkg
          wget https://github.com/IntroVirt/libmspdb/releases/latest/download/libmspdb_ubuntu-$(lsb_release -sr)_Release.zip
          unzip libmspdb_ubuntu-$(lsb_release -sr)_Release.zip
          sudo apt install ./libmspdb_ubuntu-$(lsb_release -sr)_Release/*.deb
        shell: bash

      # Run the build
      - name: Validate ${{ matrix.build_type }} Build
        run: |
          cd build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} ..
          ninja package
        shell: bash

      # Upload build .debs
      - name: Archive debian packages
        uses: actions/upload-artifact@v4
        with:
          name: introvirt_${{ matrix.os }}_${{ matrix.build_type }}
          path: build/*.deb
